.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1.25em 1.87em;

  @media (max-width: 31.25em) {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
}
