.table {
  width: 100%;
  border-collapse: collapse;
}

.table__body {
  @media (max-width: 47.5em) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.8rem);
    gap: 2.5rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (max-width: 63.43rem) {
    grid-template-columns: repeat(auto-fill, 16.25rem);
  }
}
